.heroContainer {
  text-align: center;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
}

.heroContainer button {
  margin-top: 100px;
}

.imgContainer {
  height: 45%;
  position: relative;
}

.logoContainer {
  margin: auto;
  background-image: url("/Mo.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
}

.logoContainer a {
  margin-top: 125px;
}

.button {
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  background: black;
  color: #ff9b43;
  border: #ff9b43 3px solid;
  bottom: 25px;
}

.button:hover {
  background: #ff9b43 !important;
  color: black !important;
  border: black 3px solid !important;
  bottom: 25px;
}

.register {
  background-image: url("/tools.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #fff;
}

.registerForm {
  background-color: rgb(0, 0, 0, 0.75);
  margin: 30px auto;
  padding: 14px;
  width: 50%;
  border: #ff9b43 3px solid;
  border-radius: 25px;
}

.registerForm input {
  border-radius: 25px;
  border-color: #ff9b43;
}

.registerForm button {
  margin: auto;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .imgContainer {
    height: 35%;
    position: relative;
  }

  .registerForm {
    width: 100%;
  }

  .logoContainer {
    position: absolute;
    bottom: 20px;
  }
}
